# CSE-10102-01

## Elements of Computing II

Student Name: **Connor Smith**
<br>
Net ID: **csmith77**
<br>
Title: **SQL Queries and Joins**

**Q1: Write an SQL query to select the list of player ids and birthplace countries from the Player_Birthplaces table? What data does this query return? Test your query using DB Browser. Include code + comments.**

In [ ]:
# take all entries for "id_person" and their corresponding "country" from the same line of data
SELECT  id_person, Country

# take this information from the Player_PoB table
FROM Player_PoB;

<blockquote> AnswerQ1. In this code, the query that I have written will return the id_person and country field for every line of data in the Player_PoB table.</blockquote>

**Q2: Write an SQL query to return the unique list of player birthplace countries from the Player_Birthplaces table. What data does this query return? Test your query using DB Browser. Include code + comments.**

In [2]:
# take the first of every entry for "country"
SELECT DISTINCT Country

# take this information from the Player_PoB table
FROM Player_PoB;

<blockquote> AnswerQ2. In this code, the query that I have written will return every unique entry for the Country field in the Player-PoB table.</blockquote>

**Q3: Write an SQL query to return the unique list of team names from the Team_Locations table, sorted in reverse alphabetical order. What data does this query return? Test your query using DB Browser. Include code + comments.**

In [ ]:
# take the first of every entry for "TeamName"
SELECT DISTINCT TeamName

# take this information from the Player_PoB table
FROM Team_Locations

# order the data in decending order by first letter of "TeamName"
ORDER BY TeamName DESC;

<blockquote> AnswerQ3. In this code, the query that I have written will return every unique "TeamName" value from the Team_Locations table in decending order by first letter </blockquote>

**Q4: Write an SQL query to return the data from the Player_Birthplaces table, sorted in chronological order by birth year and reverse alphabetical order by country. What data does this query return? Test your query using DB Browser. Include code + comments.**

In [ ]:
# take every piece of data
SELECT *

# take this information from the Player_PoB table
FROM Player_PoB

# order the data in ascending order by birth year starting with the Null values and then in decending order by first letter of "Country"
ORDER BY Dob ASC, Country DESC;

<blockquote> AnswerQ4. In this code, the query that I have written will return all the data in the Player-PoB table in ascending order by year of birth and if there are two of the same year of births it orders those in decending order by the first letter of the Country field.</blockquote>

**Q5: Write an SQL query to return the data from the Team_Locations table for teams located in states that start with the letter M. What data does this query return? Test your query using DB Browser. Include code + comments.**

In [ ]:
# take every piece of data
SELECT *

# take this information from the Team_Locations table
FROM Team_Locations

# take all lines of data where the state name starts with the letter "M"
WHERE state LIKE 'M%';

<blockquote> AnswerQ5. In this code, the query that I have written will return all the data from the Team_Locations table that has the letter M as the first character in the string value in the state field. </blockquote>

**Q6: Write a query that gets average birth year for players in Latin America/Caribbean. What data does this query return? Test your query using DB Browser. Include code + comments.**

In [ ]:
# take an average of all the birth years
SELECT AVG(DoB)

# take this information from the Player-DoB table
FROM Player_PoB

# only average the birth years of the lines of data with "Caribbean" in the Region column
WHERE Region = "Caribbean";

<blockquote> AnswerQ6. In this code, the query that I have written will return the average of the year of births from every entry that has Caribbean in the Region field in the Player_PoB table  </blockquote>

**Q7: Write a query that gets average birth year for players born after a specific year. What data does this query return? Test your query using DB Browser. Include code + comments.**

In [ ]:
# take an average of all the birth years
SELECT AVG(DoB)

# take this information from the Player-DoB table
FROM Player_PoB

# only average the birth years of the lines of data with birth years after 1990
WHERE DoB > 1990;

<blockquote> AnswerQ7. In this code, the query that I have written will return the average year of birth for  every entry in the Player_PoB table that has a DoB after 1990 </blockquote>

**Q8: Write an SQL query that joins the Transactions and Team_Locations tables and returns all columns. What kind of join is this? What data does this query return?Test your query using DB Browser. Include code + comments.**

In [ ]:
# take every piece of data
SELECT *

# take this information from the Combined_Transactions table
FROM Combined_Transactions t

# add on the data from the the Player_PoB table
JOIN Player_PoB p

# connect the two tables through the id_person field in both
ON t.id_person = p.id_person;

<blockquote> AnswerQ8. In this code, the query that I have written will return all the data from the Combined_Transactions table and the Player_PoB table aggregated by connecting the id_person field in both and connecting those pieces of data to eachother across the tables. </blockquote>

**Q9: Write an SQL query that answers our question about the number of players born in Puerto Rico playing for teams located in Indiana. Test your query using DB Browser. Include code + comments.**

In [ ]:
# count all the unique id_person entries
SELECT DISTINCT COUNT(id_person)

# from the Player_PoB table
FROM Player_PoB p

# joined with the Combined_Transations table
INNER JOIN Combined_Transactions c

# by the id_person field in both
ON p.id_person = c.id_person

# and joined by the Team_Locations table
INNER JOIN Team_Locations t

# joined through the team_id in Combined_Transactions and Team_Locations
ON c.team_id = t.team_id

# that have the "PR" in the Country field and "IN" in the State field
WHERE Country = "PR", State = "IN";

<blockquote> AnswerQ9. In this code, the query that I have written will return all unique id_person values that have a PR in their corresponding country field and and IN in their corresponding state field </blockquote>

**Q10: How would you describe the affordances of relational databases to someone who hasn't been through these labs?**

<blockquote> AnswerQ10. The affordance of relational databases is that the user is able to enter in massive  and sometimes unreadable sets of data into a system and as long as they know the table and field names can essentially any information that they need in a quick and easy way </blockquote>

**Q11: What questions or thoughts do you have about building and interacting with relational database?**

<blockquote> AnswerQ11. I really enjoy working with relational databases but they can get difficult to understand if they are not normalized, will we learn normalization in our labs?</blockquote>

**Q12: Select one of the following SQL statements: AND/OR, ALTER TABLE, BETWEEN, CREATE, DELETE, DROP, EXISTS, GROUP BY, HAVING, IN, INSERT, JOIN, ORDER BY, SELECT, WHERE. Write a brief explanation for what the statement will do. Include an example of how you would use the statement in an SQL query.**

In [ ]:
SELECT *
FROM Player_PoB
WHERE  DoB = "1985" AND/OR Country = "DO";

<blockquote> AnswerQ12. The AND/OR statement as demonstrated above is a SQL statement prodomenantly used with the WHERE or HAVING functions to make sure that the extrapolated data the query is asking for contains one or both of the required field values so that more  data can be collected in the output.  </blockquote>